packages/
Src/Adapters.Tests/CaliCare.Resources.Adapters.Tests/bin/
Src/Adapters.Tests/CaliCare.Resources.Adapters.Tests/obj/
Src/Adapters/CaliCare.Conditions.Adapters/bin/
Src/Adapters/CaliCare.Conditions.Adapters/obj/
Src/Adapters/CaliCare.Patients.Adapters/bin/
Src/Adapters/CaliCare.Patients.Adapters/obj/
Src/Adapters/CaliCare.Registration.Adapters/bin/
Src/Adapters/CaliCare.Registration.Adapters/obj/
Src/Adapters/CaliCare.Resources.Adapters/bin/
Src/Adapters/CaliCare.Resources.Adapters/obj/
Src/Adapters/CaliCare.WebApi.Adapters/bin/
Src/Adapters/CaliCare.WebApi.Adapters/obj/
Src/Application/CaliCare.ConsoleApplication/bin/
Src/Application/CaliCare.ConsoleApplication/obj/
Src/Components.Tests/CaliCare.Resources.Tests/bin/
Src/Components.Tests/CaliCare.Resources.Tests/obj/
Src/Components/CaliCare.Conditions/bin/
Src/Components/CaliCare.Conditions/obj/
Src/Components/CaliCare.Patients/bin/
Src/Components/CaliCare.Patients/obj/
Src/Components/CaliCare.Registration/bin/
Src/Components/CaliCare.Registration/obj/
Src/Components/CaliCare.Resources/bin/
Src/Components/CaliCare.Resources/obj/
Src/Components/CaliCare.Scheduling/bin/
Src/Components/CaliCare.Scheduling/obj/
Src/Infrastructure/CaliCare.Infrastructure/bin/
Src/Infrastructure/CaliCare.Infrastructure/obj/
